body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin-top: 0;
    margin-bottom: calc(3%);
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container {
    background-color: white;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: white;
}

.bottom-container {
    background-color: white;
}

.footer {
    background-color: white;
}

.bottom-cloud {
    position: absolute;
    right: calc(70%);
    padding-top: 20px;
}

.top-cloud {
    position: absolute;
    left: calc(70%);
    top: 50px;

}


.color1 {
    color: #0779e4
}

.color2 {
    color: #4cbbb9
}

.color3 {
    color: #77d8d8
}

.color4 {
    color: #eff3c6
}


.profilePic {
    height: 100px;
    border-radius: 50%;
    position: absolute;
    right: calc(80%);

}